<template>
  <div v-if='this.code != null'>
    <img v-if='this.exist' :src='this.uriOfClues'/>
    <p v-else>Indice Inconnu :/</p>
  </div>
</template>

<script>
export default {
  name: 'ClueViewer',
  props: [
    'code'
  ],
  data() {
    return {
      exist: false
    };
  },
  computed: {
    uriOfClues() {
      return 'clues/' + this.code.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
    }
  },
  async created() {
    if (this.code != null) {
      try {
        let result = await fetch(this.uriOfClues);
        this.exist = result.ok;
      } catch (fetchError) {
        this.exist = false;
      }
    }
  }
}
</script>
