<template>
    <nav class="navbar is-fixed-top" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href=".">
                <img src="../assets/logo.png" alt="ASN logo" class="image is-5by2" />
            </a>
            <div
                class="navbar-burger" @click="showNav = !showNav" :class="{ 'is-active': showNav }"
                data-target="navbarMenu" role="button" aria-label="menu" aria-expanded="false"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </div>
        </div>

        <div id="navbarMenu" class="navbar-menu" :class="{ 'is-active': showNav }">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="https://gitlab.com/MathiusD/chalon-sur-scene" target="_blank">
                    <font-awesome-icon :icon="['fab', 'gitlab']" size="2x" />
                </a>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    name: 'NavBar',
    props: [
        "errorOnEdt"
    ],
    data() {
        return {
            showNav: false
        };
    }
    
}
</script>

<style scoped>
.navbar {
    background: #ff6e00;
}

</style>