<template>
  <NavBar />
  <div class="columns">
    <div class="column is-half">
      <label for='code'>Veuillez saisir un code : </label>
      <input v-model='codeProvided' id='code' type='text' />
    </div>
    <div class="column is-half">
      <ClueViewer :key='codeProvided' :code='codeProvided' />
    </div>
  </div>
</template>

<script>
import ClueViewer from './components/ClueViewer.vue';
import NavBar from './components/NavBar.vue';


export default {
  name: 'App',
  components: {
    ClueViewer,
    NavBar
  },
  data() {
    return {
      codeProvided: null
    };
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
